* {
	font-family: "FiraCode Nerd Font Mono";
	font-weight: bold;
	font-size: 13px;
}

#window label,
tooltip label {
	font-weight: normal;
}

#workspaces button label {
	font-size: 11px;
}

#workspaces button.active label {
	font-size: 13px;
}
