#workspaces {
	margin-left: 2px;
	padding: 0 2px;
	background-color: alpha(@surface0, 0.25);
	border-radius: 8px;
}

#workspaces button {
	padding: 0 5px;
	border-radius: 6px;
	color: @overlay0;
	transition: all 150ms ease-in-out;
}

#workspaces button:hover {
	color: @subtext1;
	background-color: alpha(@surface1, 0.2);
}

#workspaces button.active {
	color: @accent;
	background-color: alpha(@accent, 0.12);
	font-weight: bold;
}

#workspaces button.urgent {
	color: @red;
	background-color: alpha(@red, 0.12);
}

#window {
	padding: 0 10px;
	color: @muted-fg;
	font-weight: normal;
	font-size: 12px;
}
