#workspaces {
	margin-left: 2px;
	padding: 0 4px;
}

#workspaces button {
	padding: 0 6px;
	border-radius: 8px;
	color: @overlay0;
	transition: all 200ms ease-in-out;
}

#workspaces button:hover {
	color: @subtext1;
	background-color: alpha(@surface0, 0.15);
}

#workspaces button.active {
	color: @accent;
	background-color: alpha(@accent, 0.10);
}

#window {
	padding: 0 12px;
	color: @muted-fg;
	font-weight: normal;
	font-size: 12px;
}
